Atom/
BraveSoftware/
Code - OSS/
GitKraken/
IJHack/
Kitware/
Postman/
QchatProject/
QtProject.conf
QtProject/
VSCodium/
cmst/
cmus/
coc/
configstore/
dconf/
discord/
dleyna-renderer-service.conf
dleyna-server-service.conf
evolution/
gitui/
gtk-3.0/
htop/
iridium/
libfm/
libreoffice/
lxqt/
marktext/
mc/
mimeapps.list
nautilus/
obs-studio/
pavucontrol-qt/
pcmanfm-qt/
pcmanfm/
pragha/
pulse/
qt5ct/
rygel.conf
spotify-tui/
spotifyd/
sublime-merge/
sublime-text-3/
thefuck/
torbrowser/
totem/
uenv/
user-dirs.dirs
user-dirs.locale
wireshark/
wofi/
xarchiver/
yarn/
yelp/